h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color:  #ffffff;
    display: inline;
    margin-left: 250px;
    font-size: 50px;
    border-bottom: solid 2px #cccccc;
    background-size: 90px;
    } 
    header {
        border-bottom: outset;
        background-color: #ffffff;
      }
    li {
        display: inline;
      }
      ul {
        display: inline;
        float: right;
      }
      h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color:#ffffff;
        color: #4aaaa5;
        margin-left: 30px;
        border-bottom: solid 2px lightgray; 
      }
      #container {
        margin: 0 auto;
        border:solid 2px #dddddd;
        width: 960px;
        height: 500px;
        clear: left;
        background-color: #ffffff;
        font-display: #777777
      }
      label {
         margin: 0;
         padding: 20px;
      }
      form {
          margin-left: 20px;
          margin-right: 20px;
      }
      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
      .footer {
        height: 50px;
        background-color: #666666;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        border-top: solid 8px #4aaaa5
        }
        textarea {
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        }